@use './breakpoints' as *;

$container-padding: (
    xs: 15px,
    sm: 24px,
    md: 32px,
    lg: 60px,
    xl: 120px,
    xxl: 240px
);

$container-padding-y: (
    xs: 50px,
    sm: 60px,
    md: 80px,
    lg: 100px,
    xl: 112px,
    xxl: 112px
);


.container {
    width: 100%;
    max-width: $xxl !important; //come from breakpoints
    margin-left: auto;
    margin-right: auto;

    // Mobile padding (xs)
    padding-left: map-get($container-padding, xs);
    padding-right: map-get($container-padding, xs);
    padding-top: map-get($container-padding-y, xs);
    padding-bottom: map-get($container-padding-y, xs);

    // Small screens (sm)
    @media (min-width: $sm) {
        padding-left: map-get($container-padding, sm);
        padding-right: map-get($container-padding, sm);
        padding-top: map-get($container-padding-y, sm);
        padding-bottom: map-get($container-padding-y, sm);
    }

    // Medium screens (md)
    @media (min-width: $md) {
        padding-left: map-get($container-padding, md);
        padding-right: map-get($container-padding, md);
        padding-top: map-get($container-padding-y, md);
        padding-bottom: map-get($container-padding-y, md);
    }

    // Large screens (lg)
    @media (min-width: $lg) {
        padding-left: map-get($container-padding, lg);
        padding-right: map-get($container-padding, lg);
        padding-top: map-get($container-padding-y, lg);
        padding-bottom: map-get($container-padding-y, lg);
    }

    // Extra Large screens (xl)
    @media (min-width: $xl) {
        padding-left: map-get($container-padding, xl);
        padding-right: map-get($container-padding, xl);
        padding-top: map-get($container-padding-y, xl);
        padding-bottom: map-get($container-padding-y, xl);
    }

    // XXL screens
    @media (min-width: $xxl) {
        padding-left: map-get($container-padding, xxl);
        padding-right: map-get($container-padding, xxl);
        padding-top: map-get($container-padding-y, xxl);
        padding-bottom: map-get($container-padding-y, xxl);
    }
}