@use './breakpoints' as *;
@use 'sass:math';


@for $i from 1 through 20 {
  $gutter: $i * 4px;

  .row.g-#{$i} {
    margin: math.div(-$gutter, 2);
  }

  .row.g-#{$i}>[class*="col"] {
    padding: math.div($gutter, 2);
  }

  .row.gx-#{$i} {
    margin-left: math.div(-$gutter, 2);
    margin-right: math.div(-$gutter, 2);
  }

  .row.gx-#{$i}>[class*="col"] {
    padding-left: math.div($gutter, 2);
    padding-right: math.div($gutter, 2);
  }

  .row.gy-#{$i} {
    margin-top: math.div(-$gutter, 2);
    margin-bottom: math.div(-$gutter, 2);
  }

  .row.gy-#{$i}>[class*="col"] {
    padding-top: math.div($gutter, 2);
    padding-bottom: math.div($gutter, 2);
  }

  .gap-#{$i} {
    gap: $gutter !important;
  }

  @each $name, $breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {

      .row.g-#{$name}-#{$i} {
        margin: math.div(-$gutter, 2);
      }

      .row.g-#{$name}-#{$i}>[class*="col"] {
        padding: math.div($gutter, 2);
      }

      .row.gx-#{$name}-#{$i} {
        margin-left: math.div(-$gutter, 2);
        margin-right: math.div(-$gutter, 2);
      }

      .row.gx-#{$name}-#{$i}>[class*="col"] {
        padding-left: math.div($gutter, 2);
        padding-right: math.div($gutter, 2);
      }

      .row.gy-#{$name}-#{$i} {
        margin-top: math.div(-$gutter, 2);
        margin-bottom: math.div(-$gutter, 2);
      }

      .row.gy-#{$name}-#{$i}>[class*="col"] {
        padding-top: math.div($gutter, 2);
        padding-bottom: math.div($gutter, 2);
      }

      .gap-#{$name}-#{$i} {
        gap: $gutter !important;
      }
    }
  }
}