   @use './variables' as *;
   @use './mixin' as *;
   @use './extends' as*;

   .text-center {
     text-align: center;
   }

   .text-light {
     color: $color-white;
   }

   .bg-primary {
     background-color: $color-primary;
   }

   .flex-between {
     display: flex;
     justify-content: space-between;
   }

   .flex-items-center {
     display: flex;
     align-items: center;
   }

   .subtitle {
     @include subtitle;
   }

   .subtitle-white {
     @include subtitle($color-white);
   }

   .title-xxl {
     @include title-xxl;
   }

   .title-xl {
     @include title-xl;
   }

   .title-xl-white {
     @include title-xl($color-white);
   }

   .card-title {
     @include card-title;
   }

   .body-text {
     @include body-text;
   }

   .btn-phn {
     @include btn-phn;
   }

   .btn-phn-white {
     @include btn-phn($bg: $color-white, $icon: $color-primary);
   }

   .btn-primary {
     @include button($color-primary, $color-white, transparent, $color-primary);
   }

   .btn-secondary {
     @include button('#fff', $color-white);
   }

   .btn-light {
     @include button($color-white, $color-primary);
   }

   .flex-items-center {
     display: flex;
     align-items: center;
   }

   //  For equal height
   .row>[class*="col"] {
     display: flex;
    //  flex-direction: column;

     >* {
       height: 100%;
     }
   }

   section {
     overflow-x: hidden;
   }