@use '../utils/variables' as *;
@use '../utils/breakpoints' as bp;

.about {
    overflow: hidden;

    &__left {
        position: relative;
        display: flex;
        justify-content: end;
        margin-right: 1rem;

        @include bp.respond-to(x2l) {
            justify-content: center;
            margin-right: 0;
        }
    }

    &__right {
        margin-left: 1rem;

        @include bp.respond-to(x2l) {
            padding-left: 0;
        }
    }

    &__img-wrap {
        max-width: 560px;
        width: 100%;
        position: relative;
        z-index: 10;
    }

    &__img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__shape-wrap {
        position: absolute;
        top: 50%;
        left: -4rem;
        transform: translateY(-50%);
        max-height: 100%;
        overflow: hidden;

        @include bp.respond-to(md) {
            left: -50px;
        }
    }

    &__shape {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &--style-2 {
        .about {
            &__title {
                max-width: 720px;
            }

            &__desc {
                color: $color-dark-gray;
            }

            &__solutions {
                background: $color-light-pink;
                padding: 1.5em;
                border-radius: 20px;
            }

            &__solution-text {
                color: $color-dark-charcoal;
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.09px;
            }

            &__features {
                margin-right: -200px;
                z-index: 999 !important;
                position: relative;
                background: $color-white;
                border-radius: 8px;
                border-bottom: 3px solid $color-primary;

                @include bp.respond-to(lg) {
                    margin-right: 0;
                }
            }

            &__feature-text {
                color: $color-dark-gray;
            }

            &__image {
                max-width: 660px;
                max-height: 775px;
                border-radius: 20px;

                @include bp.respond-to(lg) {
                    max-width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__stat {
                position: absolute;
                right: -2rem;
                top: -2rem;
                background: $color-primary;
                border-radius: 10px;
                color: $color-white;
                max-width: 300px;

                @include bp.respond-to(lg) {
                    right: 10px;
                    top: 10px;
                }
            }

            &__stat-text {
                font-size: 18px;
                font-weight: 300;
                line-height: 150%;
                letter-spacing: 0.095px;
                color: $color-white;
            }
        }
    }
}