@use '../utils/variables' as *;
@use '../utils/mixin' as *;
@use '../utils/breakpoints' as bp;

.footer {
    &__cta-container {
        margin-bottom: -12rem;

        @include bp.respond-to(md) {
            margin-bottom: -8rem;
        }
    }

    &__cta {
        background: $color-primary;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        >* {
            position: relative;
            z-index: 15;
        }
    }

    &__cta-title {
        max-width: 555px;
        letter-spacing: -0.56px;
    }

    &__cta-desc {
        color: $color-white;
        max-width: 555px;
    }

    &__cta-bg {
        position: absolute;
        bottom: -20px;
        right: 0;
        max-width: 900px;
        max-height: 415px;
        width: 100%;
        height: 100%;
        margin-top: 3rem;
        background-size: cover;
        z-index: 1 !important;

        @include bp.respond-to(xl) {
            max-width: 700px;
        }
    }

    &__content {
        background: $color-black;
        padding-top: 7rem;
    }

    &__desc-small {
        color: $color-white;
        max-width: 92%;
    }

    &__social-link {
        @include card-icon-wrap;
        margin-bottom: 0;
        border-radius: 50%;
        flex-shrink: 0;

        &:hover {
            background: $color-white;

            svg path {
                fill: $color-primary
            }
        }
    }

    &__title {
        @include card-title;
        color: $color-white;
    }

    &__nav-link,
    &__hour,
    &__newsletter-text {
        color: $color-white;
    }

    &__newsletter-form-group {
        position: relative;
        max-width: 400px;

    }

    .newsletter-form {
        border: 1px solid $color-white;
        border-radius: 8px;
        background: transparent;
        padding: 12px 1.2rem;
        color: $color-white !important;

        &:focus {
            border-color: $color-primary;
            outline: none;
            box-shadow: none;
            background: transparent;
        }

        &::placeholder {
            @include body-text;
            color: $color-white;
        }

        &-btn {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            background: $color-white;
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            flex-shrink: 0;
            margin: 0;

            &:hover svg {
                transform: translateX(2px);
                transition: $primary-transition;
            }
        }
    }

    &__bottom {
        border-top: 0.3px solid $color-white;
        padding-top: 2rem;
        padding-bottom: 1rem;
        color: $color-white;

        &-text {
            color: $color-white !important;
        }

        &-nav-link {
            list-style: none;
            position: relative;
            color: $color-white;
            padding-left: 20px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                background: $color-white;
                border-radius: 50%;
            }
        }
    }

    &--style-2 {
        background: $color-black;

        .footer {
            &__action-btn {
                @include body-text;
                background: $color-white;
                padding: 1rem 1.5rem;
                border-radius: 8px;
                transition: $btn-transition;

                &:hover {
                    background: $color-primary;
                    color: $color-white;
                }
            }

            &__nav-link,
            &__hour,
            &__address {
                color: rgba(255, 255, 255, 0.54);
                letter-spacing: 0.08px;
                font-size: 1rem;
            }

            &__container {
                position: relative;

                &--top {
                    border-bottom: 8px solid $color-white;

                    @include bp.respond-to(lg) {
                        border-bottom: 5px solid $color-white;
                    }
                }

                &--bottom {
                    border-top: 8px solid $color-primary;

                    @include bp.respond-to(lg) {
                        border-top: 5px solid $color-primary;
                    }
                }
            }

            &__bottom {
                padding-bottom: 2rem;
                border: 0;
            }

            &__back-to-top {
                color: $color-white;
                margin-bottom: 0;
                text-decoration: underline;
                flex-shrink: 0;
            }
        }
    }
}