@use '../utils/variables' as *;
@use '../utils/breakpoints' as bp;

.header {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__menu {
            margin: 0;
            display: flex;
            align-items: center;

            @include bp.respond-to(xl) {
                display: none;
            }
        }

        &__item {
            position: relative;
            margin: 0 0.5rem;
        }

        &__link {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 400;
            font-family: $font-heading;
            transition: color 0.3s;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.08px;

            &:hover {
                color: $color-primary;
            }
        }

        &__item-has-children>.nav__link::after {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 9 5' fill='none'><path d='M8.13231 0.972078C8.13235 1.01586 8.12375 1.05921 8.10699 1.09965C8.09023 1.1401 8.06564 1.17683 8.03464 1.20774L4.70136 4.54102C4.67043 4.57199 4.63369 4.59656 4.59326 4.61333C4.55282 4.63009 4.50947 4.63872 4.4657 4.63872C4.42193 4.63872 4.37858 4.63009 4.33814 4.61333C4.29771 4.59656 4.26097 4.57199 4.23004 4.54102L0.896758 1.20774C0.76651 1.07749 0.76651 0.86658 0.896758 0.736415C1.02701 0.60625 1.23792 0.606167 1.36808 0.736415L4.4657 3.83403L7.56332 0.736415C7.59425 0.705444 7.63099 0.680874 7.67142 0.66411C7.71186 0.647346 7.75521 0.638718 7.79898 0.638718C7.84275 0.638718 7.8861 0.647346 7.92654 0.66411C7.96697 0.680874 8.00371 0.705444 8.03464 0.736415C8.06564 0.767327 8.09023 0.80406 8.10699 0.844503C8.12375 0.884945 8.13235 0.9283 8.13231 0.972078Z' fill='%23EE212B'/></svg>");
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
            transition: $primary-transition;
        }

        &__item-has-children:hover>.nav__link::after {
            transform: rotate(180deg);
        }

        /* Dropdown Styles - Desktop */
        &__submenu {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            padding-left: 0;
            background: $color-white;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 3px 3px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.3s ease,
                transform 0.3s ease;
            z-index: 100;

            .nav__link {
                color: $color-dark;
            }

            .nav__submenu {
                top: 0;
                left: 100%;
            }
        }

        .current-menu-item>.nav__link {
            color: $color-primary;
            font-weight: 500;
        }
    }

    .nav__item:hover>.nav__submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 9999;
    }

    &--style-1 {
        position: relative;
        z-index: 9999;

        .header {
            &__top {
                background: $color-primary;
            }

            &__info-text {
                color: $color-white;
                margin-bottom: 0;

                @include bp.respond-to(sm) {
                    display: none;
                }
            }

            &__bottom {
                max-height: 75px;
                background: transparent;
                margin-top: 20px;
                margin-bottom: -100px;
            }
        }

        .nav {
            &__logo .nav__link {
                padding: 0;
            }

            &__link {
                color: $color-white;
                transition: $primary-transition;

                &:hover {
                    color: $color-primary;
                }
            }

            @include bp.respond-to(sm) {
                &__btn {
                    display: none;
                }
            }

            &__toggle {
                color: $color-white;
                font-size: 2rem;
                background: transparent;
                border: none;
            }

        }
    }
}