@use '../utils/' as *;
@use '../utils/variables' as*;
@use '../utils/breakpoints' as bp;
@use '../utils/mixin' as *;

.testimonials {
    position: relative;
    overflow: visible;

    &--style-1 {
        margin-bottom: 300px;
    }

    &__title,
    &__desc {
        color: $color-white;
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__card {
        @extend %card1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 2rem;

        &::after {
            display: none !important;
            content: none !important;
        }

        &:hover::after {
            width: 0 !important;
        }

        @include bp.respond-to(md) {
            padding: 1.5rem;
        }

        &-rating {
            max-width: 140px;
        }

        &-text {
            font-size: clamp(14px, 2vw + 5px, 20px);
            font-family: $font-heading;
            color: $color-black;
            letter-spacing: 0.1px;
            line-height: $line-height-body;
        }

        &-author {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            align-items: center;

            &-img-wrap {
                max-width: 56px;
                max-height: 56px;
                overflow: hidden;
                border-radius: 2px;
            }

            &-author-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-author-name {
            @include title-sm;
            margin-bottom: 4px;
        }
    }

    .services--secondary {
        & .services__container {
            transform: translateY(280px);
            margin-top: -300px;
        }

        & .services__card {
            display: flex;
            align-items: center;
            padding: 0;
            border-radius: 10px;
            background: transparent;
            box-shadow: none;
            flex-wrap: wrap;
            position: relative;
            height: 100%;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../../assets/img/shape/services-card-square-shape.png') center center / cover no-repeat;
                z-index: 10;
            }

            @include bp.respond-to(x2l) {
                flex-direction: column;
            }

            &-icon-wrap {
                margin-bottom: 2rem;
                margin-left: 0;
                border: none;

                svg path {
                    fill: $color-primary;

                }
            }

            :hover &-icon-wrap {
                background: none;
            }

            &-content {
                flex: 1;
                color: $color-white;
                background: $color-black;
                height: 100%;
                padding: 2rem;
                flex-grow: 1;

                &>* {
                    position: relative;
                    z-index: 15;
                }

                @include bp.respond-to(x2l) {
                    width: 100% !important;
                }

            }

            &--explore {
                .services__card-content {
                    background: $color-primary;
                }

                .services__card-icon-wrap svg path {
                    fill: $color-white;
                }
            }

            &-title {
                @include title-sm;
                color: $color-white;
                text-align: left;
                margin-bottom: 1.5rem;
            }

            &-image {
                flex-shrink: 0;
                flex-grow: 1;
                max-width: 300px;
                max-height: 380px;
                width: 100%;
                position: relative;
                z-index: 15;

                @include bp.respond-to(x2l) {
                    max-width: 100% !important;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &--style-2 {
        background: $color-dark;

        .testimonials {
            &__title {
                text-align: left;
                margin-left: 0;
            }

            &__subtitle {
                position: relative;
                padding-left: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 5px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    background: $color-white;
                }
            }

            &__card {
                position: relative;
                overflow: hidden;
                z-index: 5;
                height: auto;

                &:before {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 100px;
                    top: -10px;
                    left: 1rem;
                    background: $color-dark;
                    background: $color-dark url('../../assets/img/testimonials/quoate.png') no-repeat center;
                    background-size: 40px;
                    z-index: 10;
                    border-radius: 0 0 32px 32px;

                    @include bp.respond-to(md) {
                        width: 65px;
                        height: 80px;
                    }

                    @include bp.respond-to(xs) {
                        display: none;
                    }
                }

                &-shift-down {
                    margin-top: 150px;

                    @include bp.respond-to(md) {
                        margin-top: 0;
                    }
                }

            }

            &__card-rating {
                display: flex;
                justify-content: end;
                max-width: 100%;
            }
        }
    }
}